@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("animation.css");
* {
  margin: 0;
  padding: 0;
}
:root {
  --text-light: #0f0c17;
  --background-light: #e4e1ef;
  --primary-light: #945fab;
  --secondary-light: #e3e8d5;
  --accent-light: #689e53;

  --text-dark: #e4e1ef;
  --background-dark: #0f0c17;
  --primary-dark: #945fab;
  --secondary-dark: #15180d;
  --accent-dark: #bdd7b3;
}
/* MAIN CSS */
.left-section {
  width: 75px;
}
.active {
  border-radius: 12px;
  box-shadow: 1px 1px 5px var(--background-dark);
  min-width: 41px;
  transition: 0.3s all ease-in-out;
}

/* HOVER CSS CREATE */
.left-section:hover {
  width: 240px;
}
.left-icon:hover,
.message a:hover,
.resume:hover {
  background-color: var(--background-dark) !important;
  border-radius: 12px;
  transition: 0.3s all ease-out;
}

.ListPage {
  animation: popUp 1s ease-in;
}

.light {
  background-color: var(--background-light);
  box-shadow: 1px 1px 14px var(--text-light);
}
.dark {
  background-color: var(--background-dark);
  box-shadow: 1px 1px 14px var(--text-dark);
}
