@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;

}
:root {
  --text: #f1eff6;
  --background: #120f1a;
  --primary: #695699;
  --secondary: #c4abc0;
  --accent: #6e5aa0;
}
.left-section{
  width: 75px;
}
.left-section:hover {
  width: 240px;
}
.left-icon:hover {
  background-color: rgb(255,255,255,.1);
  border-radius: 12px;
}
@media screen and (max-width: 576px) {
  .container-main {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .left-section {
    max-height: 10vh !important;
    width: 100%;
    top: 0;
    background-color: rebeccapurple !important;
  }

}